<!-- Email input -->
<form>
  <div><h2>Owner Login Page</h2></div>
  <br /><br />
  <div class="form-outline mb-4">
    <input
      type="email"
      id="form2Example1"
      class="form-control"
      name="ownername"
      [(ngModel)]="ownername"
    />
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input
      type="password"
      id="form2Example2"
      class="form-control"
      name="ownerpassword"
      [(ngModel)]="ownerpassword"
    />
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  <!-- Submit button -->
  <button type="button" (click)="checkadminlogin()" class="btn btn-primary">
    Login
  </button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>Not a member? <a href="ownerregistration">Register</a></p>
    <p>or sign up with:</p>
  </div>
</form>
