<!-- <div class="container">
  <div>
    User Name :
    <input type="text" name="username" [(ngModel)]="username" /> Password :
    <input type="password" name="password" [(ngModel)]="password" />
  </div>
  <button (click)="checkLogin()" class="btn btn-success">Login</button>
</div> -->
<form>
  <!-- Email input -->
  <div><h2>User Login Page</h2></div>
  <br /><br />
  <div class="form-outline mb-4">
    <input
      type="email"
      id="form2Example1"
      class="form-control"
      name="username"
      [(ngModel)]="username"
    />
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input
      type="password"
      id="form2Example2"
      class="form-control"
      name="password"
      [(ngModel)]="password"
    />
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  <!-- Submit button -->
  <button type="button" (click)="checkLogin()" class="btn btn-primary">
    Login
  </button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>Not a member? <a href="userregistration">Register</a></p>
    <p>or sign up with:</p>
  </div>
</form>
